@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Gabarito:wght@400;500;600;700;800;900&display=swap");
:root {
  --dark-goldenrod: #a78347;
  --earth-yellow: #e3b261;
  --almond: #eed9c3;
  --not-black: #252525;
  --not-gray: #4b5563;
  --timberwolf: #d4d4d4;
  --platinum: #e6e6e6;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--platinum);
  font-family: "Comfortaa", sans-serif;
}

.body-container {
  background-color: white;
  border-radius: 25px;
  width: 50vw;
  margin: 25px auto;
  padding: 50px;
}

.logo {
  display: block;
  height: 75px;
  margin: 0 auto 10px;
}

.header {
  font-family: "Gabarito", sans-serif;
  text-transform: uppercase;
  color: goldenrod;
  text-align: center;
  margin: 0 0 50px;
}

.recipe {
  list-style: none;
  margin: 0 0 50px;
}
.recipe__item__card {
  text-decoration: none;
  color: var(--not-gray);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--timberwolf);
  transition: box-shadow 0.1s ease-in-out;
  margin: 0 0 25px;
  height: 150px;
  overflow: hidden;
}
.recipe__item__card__image {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--timberwolf);
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe__item__card__text-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding: 10px 10px 10px 15px;
}
.recipe__item__card__text-container__name {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 18px;
}
.recipe__item__card__text-container__desc {
  display: flex;
  align-items: center;
  font-size: 0.78rem;
}
.recipe__item__card:hover {
  box-shadow: 0 0 10px var(--not-gray);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__text {
  font-size: 12px;
  color: var(--not-gray);
}
.footer__icon {
  fill: var(--not-gray);
  transition: fill 0.1s ease-in-out;
}
.footer__icon:hover {
  fill: var(--not-black);
}

.recipe-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  width: 50vw;
  margin: 25px auto;
  overflow: hidden;
}

.recipe-header {
  background-image: linear-gradient(rgba(38, 38, 38, 0.5), rgba(38, 38, 38, 0));
  position: absolute;
  padding: 25px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.recipe-header__back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: goldenrod;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.recipe-header__back-button__arrow {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.1s ease-out;
}
.recipe-header__text {
  font-family: "Gabarito", sans-serif;
  text-transform: uppercase;
  color: goldenrod;
}
.recipe-header__logo {
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}
.recipe-header__back-button:hover {
  box-shadow: 0 0 10px var(--timberwolf);
}

.recipe-image {
  width: 100%;
}

.recipe-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: translateY(-50px);
}
.recipe-info__card {
  background-color: white;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 0 0 10px var(--timberwolf);
  width: 40vw;
}
.recipe-info__card__name {
  font-family: "Gabarito", sans-serif;
  margin: 0 0 25px;
  color: var(--not-gray);
}
.recipe-info__card__desc {
  margin: 0 0 25px;
  color: var(--not-gray);
}
.recipe-info__card__ingr {
  margin: 0 0 25px;
  font-size: 15px;
  color: var(--not-gray);
  padding: 0 0 0 25px;
}
.recipe-info__card__step {
  font-size: 15px;
  color: var(--not-gray);
  padding: 0 0 0 25px;
}/*# sourceMappingURL=styles.css.map */